<!-- <img src="/assets/Employee.jpg"> -->
<div style="width:100%;">
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <div>
                <p style=" font-size:20px;font-weight:800;color:white; font-style:normal; padding-right: 20px;" class="text-center"> Employee Management </p>
            </div>
            <!-- <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <a href="/Home">Home</a>
                    
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <a class="btn btn-info" href="/AddEmployee">Add Employee </a>
                </button>
            </div>
            <a class="nav-link active" aria-current="page" href="/EmployeeList" class="btn btn-info"
                type="button">Employee List</a>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/EmployeeList">Employee List</a>
                    </li>
                </ul>
            </div> -->
            <div>
                <button  type="button" class="btn btn-primary" data-bs-toggle="modal">
                    <a  class="btn btn-info" href="/Logout"><i class="fas fa-sign-out-alt"></i> &nbsp;Logout </a>
                </button>
            </div>
        </div>
    </nav>
</div>


<!-- sidebar -->
<div class="sidebar">
    <!-- <span class="crossBtn">&times;</span> -->
    <a href="/Home"> <i class="fas fa-home"></i> Home</a><br><br>
    <a  href="/AddEmployee"> <i class="fas fa-pencil-alt"></i> Add Employee </a><br><br>
    <a aria-current="page" href="/EmployeeList"><i class="fas fa-id-card-alt"></i> Employee List</a><br><br>
    <a href="/Logout"><i class="fas fa-sign-out-alt"></i> Logout </a>
    <!-- <div class="divider">
    </div> -->
</div>
<!-- sidebar -->



<div st="background-color:burlywood;">
    <div class="parent">
        <div class="card" style="width: 18rem; padding-right: 5%;margin-top: 5%;margin-left: 13%;">
            <img src="assets/adduser1.jpg" class="card-img-top">
            <div class="card-body">
                <a href="/AddEmployee" class="btn btn-primary">Add Employee</a>
            </div>
        </div>
        &nbsp; &nbsp;
        <div class="card" style="width: 18rem; padding-right: 5%; margin-left: 18%;margin-top: 5%;">
            <img src="assets/group.jpg" class="card-img-top">
            <div class="card-body">
                <a href="/EmployeeList" class="btn btn-primary text-center">Employee List</a>
            </div>
        </div>
    </div>
</div>