<div class="container mt-4 p-8 py-2 border px-5">
    <div class="row" style="width: 80%;padding-left: 130px;">
        <!-- <div class="row col-md-7 col-md-offset-6"> -->
        <div class="panel panel-primary">
            <div class="container text-center">
                <!-- <i class="fa fa-lock" style="font-size:200px; color:rgb(20, 20, 20);"></i> -->
                <img style="width: 250px;" src="assets/login.jpg">
            </div>
            <div class="panel-heading text-center">
                <h3
                    style="font-style:normal ;font-weight:bolder;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    Welcome</h3>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                    class="text-center">Please Enter Your Login Credential</p>
            </div>
            <div class="mb-3">
                <form [formGroup]="uservalue" (ngSubmit)="formsubmit(uservalue)">
                    <!-- <div class="form-group">
                        <i class="fa fa-envelope"></i> &nbsp; <label class="form-label">Email-Id</label>
                        <input type="text" class="form-control" placeholder="Enter Your Email-Id"
                            formControlName="username">
                        <span style="color: red;" *ngIf="username && username.invalid && username.touched">
                            This input field is Required
                        </span>
                    </div><br> -->


                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping"><i class="fa fa-envelope"></i></span>
                        <input type="text" class="form-control" placeholder="Enter Your Email-Id"
                            formControlName="username">
                        <!-- <span style="color: red;" *ngIf="username && username.invalid && username.touched">
                            This input field is Required
                        </span> -->
                    </div>
                    <span style="color: red;padding-left: 30%;"
                        *ngIf="username && username.invalid && username.touched">
                        This input field is Required
                    </span><br>

                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping"><i class="fa fa-lock"></i></span>
                        <!-- <i class="fa fa-lock"></i> &nbsp;<label class="form-label">Password  </label> -->
                        <input [type]="changetype?'password':'text'" class="form-control"
                            placeholder="Enter Your Password" formControlName="password">

                        <!-- <div style="color: red;" *ngIf="password && password.invalid && password.touched">
                            This input field is Required
                        </div> -->
                        <br>
                        <!-- <input class="eyeicon" type="checkbox" (click)="viewpass()"> Show Password -->

                    </div>
                    <div style="color: red;padding-left: 30%;" *ngIf="password && password.invalid && password.touched">
                        This input field is Required
                    </div>
                    <div class="input-group flex-nowrap">
                        <input class="eyeicon" type="checkbox" (click)="viewpass()"> Show Password
                    </div>

                    <div class="form-group text-center">
                        <button [disabled]="uservalue.invalid" type="submit" class="btn btn-primary">LOGIN</button>
                        &nbsp;
                        <a class="link-dark" routerLink="/signup">New Admin?Click here to
                            Signup</a>
                    </div>
                    <div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>